#projects{
    
    min-height: calc(100vh -4rem);
    width: 100vw;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:60rem;
    margin: 0 auto;
  
    
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    margin-bottom: 3rem;
  
   
}
.projectsTitle{
    margin: 1rem 0 ;
    font-size: 3rem;

}

.projectsDesc{
    font-weight: 300;
    font-size: 1rem;
}

.projects{
    
    width: 100vw;
    max-width: 60rem;

}

.project{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(182, 224, 224);
    border: 2px solid slateblue;
    border-radius: 2rem;
    width: 40rem;
    height: 35rem;
    color: black;
    text-align: center;

}
.breaker{
    width: 100%;
    border: 1px solid whitesmoke;

}
.projectImg{
    object-fit: cover;
    width: 40rem;
    height: 20rem;
    padding: 15px;
    border-radius: 2rem;
}

.projectName{
    font-size: 2rem;
    font-weight: 600;
    color: darkcyan;
    
}
.projectDesc{
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 50rem;
    padding: 0 4rem;
}
.projectTechs{
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1rem;
}

.tech{
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
    background-color: burlywood;
    border-radius: 1rem;
}
@media  screen and (max-width:780px){
    .project{
        width: 35rem;
        height: 30rem;
    }
    .projectImg{
        object-fit: cover;
        width: 35rem;
        height: 20rem;
        border-radius: 2rem;
    }
}


@media  screen and (max-width:640px){
    .project{
        width: 30rem;
        height: 35rem;
    }
    .projectImg{
        object-fit: cover;
        width: 30rem;
        height: 20rem;
        border-radius: 2rem;
    }
}
@media  screen and (max-width:500px){
    .project{
        width: 20rem;
        height: 40rem;
    }
    .projectImg{
        object-fit: cover;
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
    }
}